{% extends 'survey/base.html' %}

{% block content %}
    <h2>{{survey.title}}</h2>
    <p>{{survey.description}}</p>
    <form method="POST" action="{% url 'submit_response' survey.id%}">
        {% csrf_token %}
        {% for question in questions %}
            <p>{{question.question_text}}</p>
            {% for option in options %}
                {% if option.question_id == question.id%}
                    {% if question.question_type == 'MC' %}
                        <p><input name='question_{{question.id}}' type="radio" value={{option.id}}>{{option.option_text}}</p>
                    {% else %}
                        <p><input name='question_{{question.id}}' type="checkbox" value={{option.id}}>{{option.option_text}}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        <input type="submit" name="response_submit" value="Submit Response">
    </form>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    {% endblock %}