{% extends 'survey/base.html' %}

{% block title %}Survey Taker Dashboard{% endblock %}

{% block content %}
    <h1>Welcome, {{ user_name }} ({{ role }})</h1>
    {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    <h2>Available Surveys</h2>

    <div class="survey-list">
        {% if surveys %}
            {% for survey in surveys %}
                <div class="survey-item">
                    <h3>{{ survey.title }}</h3>
                    <p>{{ survey.description }}</p>
                    <a href="{% url 'take_survey' survey.id %}" class="take-survey">Take Survey</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No surveys are available at the moment.</p>
        {% endif %}
    </div>
{% endblock %}
